*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*borders and paddings are no longer added to height/width of an element, which is better!*/
}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0; /*gives the white border around the page, I think margin also seems to work here?*/
}


.navbar-custom{
  background-color: black;
  border-color: #001e60;
}

.navbar-custom .navbar-nav > li > a {
    color:white;
}

.navbar-custom .container a {
  color:white;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a,
.navbar-custom .navbar-nav > .active > a {
    background: white;
    color: black;
}

h4{
  letter-spacing: 2px;
  text-align: center;
  line-height: 2em;
  color: #b8ace5;

}

h2{
  text-align: center;
  text-decoration: none;
}

.underline{
  text-decoration: underline;
}

.center{
  margin: 10px auto;
  width: 500px;
}

#pink{
  color:#d773e0;
}

#blue{
  color:#74a8e0;
}

#green{
  color:#73d861;
}

.text{
  margin: 10px 20%;
}

.header{ /*the part with the yoga image and green overlay*/
  transform: translate(0%, -40px); /*we use transofrm trnaslate to tell it to shift it 50% of its own height and width so that position absolute will work properly- so this is in realtion to itself and NOT the parent element */

  height: 50vh; /*we want the height of the element to be 50% of the viewport*/
  background-image: linear-gradient(
    to right bottom, /*adds a linear gradient on top going left top to right bottom...*/
    rgba(255, 255, 255, 0.6), /*...specifies the colours and opacity...*/
    rgba(255, 255, 255, 0.6)),
    url(../images/colors.jpeg);  /*...and the. url image underneath it peaking through*/
  background-size: cover;
  background-position: top; /*background-position: top ensure the top of the background always stays flush with the top of the container, it doesn't disappear when you resize the window*/
  position: relative; /*this is needed so that the absolute positioning of the logo box will be relative to the header (its parent element)*/
  clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%); /*Clipping a bit of the header off to make it look cool- you're specifying the points you want to show, starting from the top left corner and working clockwise. The first point is 0 0 because those are its co-ordinates in relation to the first point (top-left)*/
}

.inner{
  height: 40vh; /*we want the height of the element to be 95% of the viewport*/
  background-image: linear-gradient(
    to right bottom, /*adds a linear gradient on top going left top to right bottom...*/
    rgba(255, 255, 255, 1), /*...specifies the colours and opacity...*/
    rgba(255, 255, 255, 1)),
    url(../images/colors.jpeg);  /*...and the. url image underneath it peaking through*/
  background-size: cover;
  background-position: top; /*background-position: top ensure the top of the background always stays flush with the top of the container, it doesn't disappear when you resize the window*/
  position: relative; /*this is needed so that the absolute positioning of the logo box will be relative to the header (its parent element)*/
  clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%); /*Clipping a bit of the header off to make it look cool- you're specifying the points you want to show, starting from the top left corner and working clockwise. The first point is 0 0 because those are its co-ordinates in relation to the first point (top-left)*/
  margin:40px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.text-box{
  position: absolute; /*we have to be careful: you might think that 50% top and left will center it, but actually, this will center the left edge of the text box and not the middle of the text box!! */
  top:40%; /*shift 40% from the top, counting from the parent element (the header) */
  left:50%;
  transform: translate(-50%, -50%); /*we use transofrm trnaslate to tell it to shift it 50% of its own height and width so that position absolute will work properly- so this is in realtion to itself and NOT the parent element */
  text-align: center; /*This is the simplest way to ensure our button (which is a text link formatted as a button) will sit in the middle of the page!*/
}

@media only screen and (max-width: 850px){
  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

}
