*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*borders and paddings are no longer added to height/width of an element, which is better!*/
}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0; /*gives the white border around the page, I think margin also seems to work here?*/
}


.navbar-custom{
  background-color: black;
  border-color: #001e60;
}

.navbar-custom .navbar-nav > li > a {
    color:white;
}

.navbar-custom .container a {
  color:white;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a,
.navbar-custom .navbar-nav > .active > a {
    background: white;
    color: black;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

h3{
  letter-spacing: 2px;
  text-align: center;
  line-height: 2em;
  color: #b8ace5;
  margin-bottom: 0px;
}

h4{
  letter-spacing: 2px;
  text-align: center;
  line-height: 2em;
  color: #b8ace5;
  animation: moveInBottom .5s ease-out .75s; /*calls our moveInBottom animation so that the button AND its after pseudoelement come in from the bottom and fade in after .75 seconds- we have this in a new class to ensure it only happens to this button and not other buttons*/
  animation-fill-mode: backwards;
}

h2{
  text-align: center;
  text-decoration: none;
}

iframe{
  width: 100%;
}

.underline{
  text-decoration: underline;
}

.center{
  margin: 10px auto;
  width: 500px;
}

.text{
  margin: 10px 20%;
}

.header{ /*the part with the yoga image and green overlay*/
  transform: translate(0%, -40px); /*we use transofrm trnaslate to tell it to shift it 50% of its own height and width so that position absolute will work properly- so this is in realtion to itself and NOT the parent element */

  height: 50vh; /*we want the height of the element to be 50% of the viewport*/
  background-image: linear-gradient(
    to right bottom, /*adds a linear gradient on top going left top to right bottom...*/
    rgba(255, 255, 255, 0.6), /*...specifies the colours and opacity...*/
    rgba(255, 255, 255, 0.6)),
    url(../images/colors.jpeg);  /*...and the. url image underneath it peaking through*/
  background-size: cover;
  background-position: top; /*background-position: top ensure the top of the background always stays flush with the top of the container, it doesn't disappear when you resize the window*/
  position: relative; /*this is needed so that the absolute positioning of the logo box will be relative to the header (its parent element)*/
  clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%); /*Clipping a bit of the header off to make it look cool- you're specifying the points you want to show, starting from the top left corner and working clockwise. The first point is 0 0 because those are its co-ordinates in relation to the first point (top-left)*/
}

.inner{
  height: 40vh; /*we want the height of the element to be 95% of the viewport*/
  background-image: linear-gradient(
    to right bottom, /*adds a linear gradient on top going left top to right bottom...*/
    rgba(255, 255, 255, 1), /*...specifies the colours and opacity...*/
    rgba(255, 255, 255, 1)),
    url(../images/colors.jpeg);  /*...and the. url image underneath it peaking through*/
  background-size: cover;
  background-position: top; /*background-position: top ensure the top of the background always stays flush with the top of the container, it doesn't disappear when you resize the window*/
  position: relative; /*this is needed so that the absolute positioning of the logo box will be relative to the header (its parent element)*/
  clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%); /*Clipping a bit of the header off to make it look cool- you're specifying the points you want to show, starting from the top left corner and working clockwise. The first point is 0 0 because those are its co-ordinates in relation to the first point (top-left)*/
  margin:40px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.text-box{
  position: absolute; /*we have to be careful: you might think that 50% top and left will center it, but actually, this will center the left edge of the text box and not the middle of the text box!! */
  top:40%; /*shift 40% from the top, counting from the parent element (the header) */
  left:50%;
  transform: translate(-50%, -50%); /*we use transofrm trnaslate to tell it to shift it 50% of its own height and width so that position absolute will work properly- so this is in realtion to itself and NOT the parent element */
  text-align: center; /*This is the simplest way to ensure our button (which is a text link formatted as a button) will sit in the middle of the page!*/
}

iframe{
  transform: translate(0%, -20px); /*we use transofrm trnaslate to tell it to shift it 50% of its own height and width so that position absolute will work properly- so this is in realtion to itself and NOT the parent element */
}

.btn:link,
.btn:visited{ /*Because the button is also a link, we need to use btn:link, link is a pseudoclass here, which means its a special state of the selector, so link is the state of the button. we use them to style elements under a special condition, such as :hover or :visited*/
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: block;/*ALWAYS do this if you're going to give an element padding, a width or height. This allows the box model to treat is as a normal block element rather than inline text*/
  border-radius:50px;
  transition: all .2s; /*Can use this for our simple up and down button animation rather than keyframes, it'll just give a nice transition to our transformations so it looks smooth and less abrupt. It isn't really intuitive that it has to be in the initial state rather than the animated state (eg. btn:hover), but that's just the way it is so get over it*/
  position: relative;
  color: white;
}

#US{
  width: 80px;
  display: block;
  margin: 0 18% 20px 82%;
}

#oas{
    max-width: auto;
    height: 250px;
    margin-top: 20px;
}

#lgbtstemday{
  margin: 20px 0px 20px 0px;
}

.btn-purple{
  background-color: #832fa8;
  color:white;
  display: block;
  width: 200px;
}

.btn:hover{
  transform:translateY(-3px);/*So that the button will go up a small bit when you hover on it*/
  box-shadow: 0 10px 20px rgba(0,0,0,.2); /*This is doing x y blur,a nd then the colour- so we want no shadow in the x direction, 10px of shadow in y direction, and for it to be quite blurry. making the opacity 0.2 makes it more subtle*/
  color:white;
}

.btn:active{ /*when it is being clicked*/
  transform: translateY(-1px); /*This is moving it from its default START position, not where it is when you're hovering over it, so it will actually appear to go down 2px when you hover then press*/
  box-shadow: 0 5px 10px rgba(0,0,0,.4); /*We're making it a smaller and less blurry shadow so that it looks like the button had been pushed down*/
  color:white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 15%;
}

.footerTbl {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;

}





@keyframes moveInBottom{
  0%{
      opacity:0;
      transform: translateY(100px);/* you can also use things like rotate etc.*/
  }

  80%{
      opacity:0.8;
      transform: translateY(-15px);
  }

  100%{
      opacity:1;
      transform: translate(0);
  }
}

@media only screen and (max-width: 1050px){
  #oas {
    width: 600px;
    height: 200px;
  }
#lgbtstemday {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
}

@media only screen and (max-width: 750px){
  #US {
    width:50px;
}
}

@media only screen and (max-width: 700px){
  #oas {
    width: 550px;
    height: 200px;
  }
}

@media only screen and (max-width: 600px){
  #oas {
    width: 400px;
    height: 150px;
  }
}

@media only screen and (max-width: 500px){
  #oas {
    width: 240px;
    height: 60px;
  }
  .header{ /*the part with the yoga image and green overlay*/
    transform: translate(0%, -40px); /*we use transofrm trnaslate to tell it to shift it 50% of its own height and width so that position absolute will work properly- so this is in realtion to itself and NOT the parent element */

    height: 35vh; /*we want the height of the element to be 50% of the viewport*/
    background-image: linear-gradient(
      to right bottom, /*adds a linear gradient on top going left top to right bottom...*/
      rgba(255, 255, 255, 0.6), /*...specifies the colours and opacity...*/
      rgba(255, 255, 255, 0.6)),
      url(../images/colors.jpeg);  /*...and the. url image underneath it peaking through*/
    background-size: cover;
    background-position: top; /*background-position: top ensure the top of the background always stays flush with the top of the container, it doesn't disappear when you resize the window*/
    position: relative; /*this is needed so that the absolute positioning of the logo box will be relative to the header (its parent element)*/
    clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%); /*Clipping a bit of the header off to make it look cool- you're specifying the points you want to show, starting from the top left corner and working clockwise. The first point is 0 0 because those are its co-ordinates in relation to the first point (top-left)*/
  }

  .inner{
    height: 25vh; /*we want the height of the element to be 95% of the viewport*/
    background-image: linear-gradient(
      to right bottom, /*adds a linear gradient on top going left top to right bottom...*/
      rgba(255, 255, 255, 1), /*...specifies the colours and opacity...*/
      rgba(255, 255, 255, 1)),
      url(../images/colors.jpeg);  /*...and the. url image underneath it peaking through*/
    background-size: cover;
    background-position: top; /*background-position: top ensure the top of the background always stays flush with the top of the container, it doesn't disappear when you resize the window*/
    position: relative; /*this is needed so that the absolute positioning of the logo box will be relative to the header (its parent element)*/
    clip-path: polygon(0 0, 100% 0, 100% 20vh, 0 100%); /*Clipping a bit of the header off to make it look cool- you're specifying the points you want to show, starting from the top left corner and working clockwise. The first point is 0 0 because those are its co-ordinates in relation to the first point (top-left)*/
    margin:40px;
  }

}
